
.cardDiv  {
     
     padding-bottom: 1em;
     margin-bottom: 10px;
     cursor: pointer;
     break-inside: avoid;
}

.cardDiv > a > img{
     max-width: 100%;
     border-radius: 20px;
     border: 2px solid var(--light-dark);
}

.cardDiv > h3 {

     margin: 10px 5px;

     font-family: var(--texto);
     font-size: medium;
     

}

.cardDiv h3 > a {
       color: var(--dark-grey);
}

.cardDiv p {

     font-size: 15px;
     color: var(--light-red);
}

.cardDiv span{

     margin: 0 5px;
}